.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Projects__div--image-area Projects__div--title-area"
    "Projects__div--image-area Projects__div--desc-area";
}

@media screen and (max-width: 1440px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 0;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Projects__div--title-area"
      "Projects__div--image-area"
      "Projects__div--desc-area";
  }
}

.Projects__div--image-area {
  grid-area: Projects__div--image-area;
  /* background-color: yellow; */
}

.Projects__div--image-area img {
  width: 100%;
  max-height: 100%; /* Set the max-height to 100% to allow the image to scale down */
  object-fit: cover; /* or contain */
}

.Projects__div--title-area {
  grid-area: Projects__div--title-area;
  /* background-color: green; */
  text-align: center;
}

.Projects__div--desc-area {
  grid-area: Projects__div--desc-area;
  /* background-color: red; */
  text-align: center;
}

.Projects__div--title-area h3 {
  font-size: 1.6rem;
}

.Projects__div--title-area h4 {
  font-size: 1.2rem;
}

.Projects__p--description {
  width: 90%;
  margin: 10px auto 0 auto;
}

.Projects__div--tech-container {
  margin: 15px 0;
  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.Projects__div--tech-container div {
  background-color: var(--background-color);
  border-radius: 0.2em;
  padding: 5px 0;
  margin: 5px 0;
}

.Projects__div--tech-container div i {
  font-size: 3rem;
}

.Projects__div--tech-container div p {
  font-size: 0.9rem;
}

.Projects__div--button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* .Projects {
    padding-bottom: 10px;
  }
  
  .Projects__div--project-container-image-left {
    display: grid;
    grid-template-areas: "image text";
    grid-template-columns: 1fr 1fr;
    margin-bottom: 75px;
    text-align: center;
  }
  
  .Projects__div--project-container-image-right {
    display: grid;
    grid-template-areas: "text image";
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-bottom: 75px;
  }
  
 
  
  
  
  
   */
