.Projects article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  margin-bottom: 60px;
}

@media screen and (max-width: 850px) {
  .Projects article {
    grid-template-columns: 1fr 0;
    margin-bottom: 40px;
    grid-template-areas:
      "Projects__div--title-area"
      "Projects__div--image-area"
      "Projects__div--desc-area";
  }
}

.Projects__article--align-left {
  grid-template-areas:
    "Projects__div--image-area Projects__div--title-area"
    "Projects__div--image-area Projects__div--desc-area";
}

.Projects__article--align-right {
  grid-template-areas:
    "Projects__div--title-area Projects__div--image-area"
    "Projects__div--desc-area Projects__div--image-area";
}

.Projects__div--image-area {
  grid-area: Projects__div--image-area;
  margin: auto;
}

.Projects__div--image-area img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin: 0px 0 0px 0;
}

@media screen and (max-width: 850px) {
  .Projects__div--image-area {
    grid-area: Projects__div--image-area;
    margin: auto;
    text-align: center;
  }

  .Projects__div--image-area img {
    width: 60%;
    max-height: 100%;
    object-fit: cover;
  }
}

.Projects__div--title-area {
  grid-area: Projects__div--title-area;
  text-align: center;
  align-self: flex-end;
}

.Projects__div--desc-area {
  grid-area: Projects__div--desc-area;
  text-align: justify;
  padding: 0 10px;
}

.Projects__div--title-area h3 {
  font-size: 1.7rem;
}

.Projects__div--title-area h4 {
  font-size: 1.3rem;
}

.Projects__p--description {
  font-size: 1.1rem;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 468px) {
  .Projects__p--description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1450px) {
  .Projects__p--description {
    width: 100%;
  }
}

.Projects__div--tech-container {
  margin: 15px 0;
  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.Projects__div--tech-container div {
  background-color: var(--background-color);
  border-radius: 0.2em;
  padding: 5px 0;
  margin: 5px 0;
}

.Projects__div--tech-container div i {
  font-size: 3rem;
}

.Projects__div--tech-container div p {
  font-size: 0.9rem;
}

.Projects__div--button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3%;
}
