.ButtonFill__a {
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--background-color);
  box-shadow: inset 0 0 0 0 var(--highlight-color);
  transition: ease-out 0.3s;
  outline: none;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  width: 25%;
  padding: 6px;
  border-color: var(--main-color);
  color: var(--main-color);
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 415px) {
  .ButtonFill__a {
    font-size: 0.7rem;
  }
}

.ButtonFill__a:hover {
  color: var(--background-color);
  box-shadow: inset 200px 0 0 0 var(--highlight-color);
}