.Hero {
  padding-top: 180px;
  padding-bottom: 100px;
  background-color: var(--main-color);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex-wrap: wrap;

  /* text-align: center; */
}

.Hero__div--image-container {
  /* justify-self: end; */
  margin-right: 15px;
  /* width: 50%; */
}

.Hero img {
  height: 500px;
  border-radius: 6px;
}

.Hero__div--text-container {
  grid-area: text;
  width: 30%;
  font-size: 1.2rem;
  margin: auto 0 auto 15px;
}

.Hero h1 {
  
  font-size: 4rem;
  color: var(--highlight-color);
  margin-bottom: 15px;
}

.Hero p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-bottom: 30px;
}

.Hero span {
  text-decoration: none;
  position: relative;
}

/* Create a pseudo-element that will be the underline */
.Hero span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background-color: var(--highlight-color);
  transform: scaleX(0);
  transform-origin: left;
  animation: fade-in-underline 0.5s ease-out 2s forwards;
}

/* Define the fade-in animation */
@keyframes fade-in-underline {
  to {
    transform: scaleX(1);
  }
}

.Hero__div--socials-container {
  /* display: flex; */
}

.Hero a {
  color: white;
  margin-right: 30px;
}

.Hero i {
  cursor: pointer;
  font-size: 4rem;
  transition: color 0.3s ease;
}

.Hero i:hover {
  color: var(--highlight-color);
}

.Hero__div--angled {
  height: 80px;
  background-color: var(--main-color);
  clip-path: polygon(0 0, 100% 0, 0 100%);
  margin-top: -1px;
}
