.Skills {
  padding-bottom: 100px;
}

.Skills section {
  background-color: var(--background-color);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  
  
}

.Skills section div {
  width: 140px;
  height: 140px;
  /* margin: 15px 25px 15px 25px; */
  margin: 1rem 1rem;

  /* padding: 10px; */
}

.Skills section div i {
  font-size: 5rem;
  color: var(--main-color);
}

.Skills section div p {
  margin-top: 3px;
  color: var(--main-color);
  font-size: 1.2rem;
}

@media screen and (max-width: 464px) {
  .Skills section div i {
  font-size: 3.5rem;
  
}
  
.Skills section div {
  width: 80px;
  height: 80px;
  /* margin: 0px 25px 20px 25px; */
  /* padding: 10px; */
}
  
  .Skills section div p {
    font-size: 1rem;
  }
}

.Skills p {
  text-align: center;
  font-size: 1.2rem;
}

.Skills p em {
  margin-top: 1.5rem;
  /* background-color: firebrick; */
  display: block;
}
