.About {
  padding-bottom: 100px;
}

.About h2 {
  text-decoration: underline;
  text-decoration-color: var(--highlight-color);
  text-decoration-thickness: 12px;
}

.About p {
  margin: auto;
  font-size: 1.1rem;
  text-align: justify;
}

.About p a {
  text-decoration: underline;
  color: var(--main-color);
}

.About img {
  border-radius: 0.2rem;
  width: 180px;
}

.About__img--right {
  float: right;
  margin-left: 1rem;
}

.About__img--left {
  float: left;
  margin-right: 1rem;
}
