.Contact {
  padding-bottom: 30px;
}

.Contact__div--container {
  display: flex;
  gap: 50px;
  /* align-items: center; */
}

@media screen and (max-width: 425px) {
  .Contact__div--container {
    flex-direction: column;
    flex-flow: column-reverse;
    gap: 0;
    /* align-items: center; */
  }
}

.Contact__div--contact-form-container,
.Contact__div--contact-text-and-socials-container {
  flex: 1;
}

@media screen and (max-width: 425px) {
  .Contact__div--contact-form-container,
  .Contact__div--contact-text-and-socials-container {
    width: 100%;
  }
}

.Contact__div--contact-text-and-socials-container {
  margin: auto auto;
  text-align: center;
  font-size: 1.2rem;
}

.Contact__div--socials-container {
  margin: auto;
  margin-top: 30px;
  width: 65%;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 425px) {
  .Contact__div--socials-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.Contact__div--socials-container a i {
  cursor: pointer;
  font-size: 4rem;
  transition: color 0.3s ease;
  color: var(--main-color);
}

.Contact__div--socials-container a i:hover {
  color: var(--highlight-color);
}

.Contact__div--contact-text-and-socials-container p {
  
  width: 65%;
  margin: auto;
}
