.Contact p {
  font-size: 1.2rem;
  text-align: center;
  margin: auto;
}

.Contact__div--socials-container {
  margin: 20px auto;
  gap: 4rem;
  display: flex;
  justify-content: center;
}

.Contact__div--socials-container a i {
  cursor: pointer;
  font-size: 5rem;
  transition: color 0.3s ease;
  color: var(--main-color);
}

@media screen and (max-width: 464px) {
  .Contact__div--socials-container a i {
    font-size: 4rem;
  }
}
.Contact__div--socials-container a i:hover {
  color: var(--highlight-color);
}

form {
  width: 60%;
  margin: auto;
}

@media screen and (max-width: 464px) {
  form {
    width: 100%;
  }
}

label {
  font-size: 1.2rem;
}

.Form__div--input {
  text-align: center;
}

input,
textarea {
  box-sizing: border-box;
  padding: 5px;
  font-size: 1.2rem;
  margin-top: 2px;
  margin-bottom: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  border-color: var(--main-color);
}

textarea {
  resize: none;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

input,
textarea {
  width: 100%;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.Form__div--input input {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  font-size: inherit;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--background-color);
  box-shadow: inset 0 0 0 0 var(--highlight-color);
  transition: ease-out 0.3s;
  outline: none;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  width: 175px;
  padding: 6px;
  border-color: var(--main-color);
  color: var(--main-color);
  text-transform: uppercase;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.Form__div--input input:hover {
  color: var(--background-color);
  box-shadow: inset 175px 0 0 0 var(--highlight-color);
}
