nav {
  background-color: var(--main-color);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 3.5rem;
  padding-left: 5%;
  font-size: 1.2rem;
}

nav ul {
  gap: 1.9rem;
  list-style-type: none;
}

nav a {
  color: var(--background-color);
  text-decoration: none;
}

nav a:hover {
  color: var(--highlight-color);
}

.Navbar__button--burger {
  font-size: 1.2rem;
  color: var(--background-color);
  background-color: var(--main-color);
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  display: none;
}
.Navbar__button--burger:hover {
  color: var(--highlight-color);
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  margin: 0 1rem;
}
.navigation-menu li a {
  display: block;
  width: 100%;
}

@media screen and (max-width: 425px) {
  .Navbar__a--home {
    font-size: 1rem;
  }

  .Navbar__button--burger {
    font-size: 1rem;
  }
}

.Navbar__i {
  position: absolute;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 940px) {
  .Navbar__button--burger {
    display: block;
  }
}

@media screen and (max-width: 940px) {
  .navigation-menu ul {
    position: absolute;
    top: var(--navbar-height);
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: var(--main-color);
    opacity: 95%;
    margin-top: -1px;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    width: 100%;
    padding: 1.5rem 0;
  }
}

@media screen and (max-width: 940px) {
  .navigation-menu ul {
    display: none;
  }
}

@media screen and (max-width: 940px) {
  .navigation-menu.expanded ul {
    display: block;
  }
}

.Navbar__span--separator {
  color: var(--highlight-color);
}
