nav {
  background-color: var(--main-color);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 3.5rem;
  padding-left: 5%;
  font-size: 1.2rem;
}

nav ul {
  gap: 1.9rem;
  list-style-type: none;
}

nav a {
  color: var(--background-color);
  text-decoration: none;
}

nav a:hover {
  color: var(--highlight-color);
}

.hamburger {
  font-size: 1.2rem;
  color: var(--background-color);
  background-color: var(--main-color);
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  cursor: pointer;
  /* transition: background-color 1.2s ease-in-out; */
  position: absolute;
  top: 50%;
  /* right: 45px; */
  right: 5%;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  color: var(--highlight-color);
}

/* .navigation-menu {
  margin-left: auto;
} */

.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  margin: 0 1rem;
}
.navigation-menu li a {
  /* // increases the surface area of the anchor tag to span more than just the anchor text */

  display: block;
  width: 100%;
}


@media screen and (max-width: 425px) {
.Navbar__a--home {
  font-size: 1rem;}

  .hamburger {
    font-size: 1rem;
  }
}



@media screen and (max-width: 940px) {
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 940px) {
  .navigation-menu ul {
    /* display: none; */
  }
}

@media screen and (max-width: 940px) {
  .navigation-menu ul {
    /* // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar) */
    position: absolute;

    /* top: 50px; */
    top: var(--navbar-height);

    left: 0;
    /* // stacks the li tags vertically  */
    flex-direction: column;
    /* // makes menu span full height and width */
    width: 100%;
    /* height: calc(100vh - 77px); */
    /* color: white; */
    background-color: var(--main-color);
    opacity: 95%;
    /* border-top: 1px solid white; */
  }
  .navigation-menu li {
    /* // centers link text and strips off margin */
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    /* color: white; */
    /* // increases the surface area of the anchor tag to span the full width of the menu */
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    /* background-color: var(--highlight-color); */
  }
}

@media screen and (max-width: 940px) {
  .navigation-menu ul {
    /* previous styles */
    display: none;
  }
}

@media screen and (max-width: 940px) {
  .navigation-menu.expanded ul {
    display: block;
  }
}


.separator {
color: var(--highlight-color)
}