nav {
  color: white;
  background-color: var(--main-color);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); */
  font-size: 1.2rem;
}

nav ul {
  display: flex;
  gap: 1.9rem;
  list-style-type: none;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: var(--highlight-color);
}

.burger-menu {
  color: white;
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.burger-menu i {
  color: white;
}
