footer {
  /* background-color: var(--main-color); */
}

.Footer__div--angled {
  /* background-color: var(--main-color); */
  background-color: var(--main-color);
  height: var(--angled-div-height);
  /* clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%); */
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
  /* margin-bottom: -1px; */
}

.main {
  background-color: var(--main-color);
  height: 40px;
  color: var(--background-color);
  text-align: right;
}

.Footer__p {
  margin-right: 1rem;
  font-size: 1.1rem;
}

@media screen and (max-width: 425px) {
  .Footer__p {
    /* text-align: center; */
    font-size: 1rem;
    /* margin-right: 0; */
  }
}

@media screen and (max-width: 370px) {
  .Footer__p {
    text-align: center;
    font-size: 0.9rem;
    margin-right: 0;
  }
}
