footer {
  /* background-color: var(--main-color); */
}

.Footer__div--angled {
  /* background-color: var(--main-color); */
  background-color: var(--main-color);
  height: 80px;
  /* clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%); */
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
  margin-bottom: -1px;
}

.main {
  background-color: var(--main-color);
  height: 80px;
  color: white;
  text-align: right;
}

.Footer__p {
  margin-right: 70px;
  font-size: 1.3rem;

}