:root {
  --main-color: #13253d;
  --background-color: #ffffff;
  --highlight-color: #fe003a;
  --angled-div-height: 60px;
}

@media screen and (max-width: 968px) {
  :root {
    --angled-div-height: 40px;
  }
}

@media screen and (max-width: 425px) {
  :root {
    --angled-div-height: 20px;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--main-color);
}

::-webkit-scrollbar-thumb {
  background: var(--highlight-color);
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
}

.About,
.Projects,
.Contact {
  color: var(--main-color);
  margin: auto;
  width: 60%;
  background-color: var(--background-color);
}

.Skills {
  color: var(--main-color);
  margin: auto;
  width: 60%;
}

@media screen and (max-width: 1240px) {
  .About,
  .Skills,
  .Projects,
  .Contact {
    color: var(--main-color);
    margin: auto;
    width: 95%;
  }
}

.About h2,
.Skills h2,
.Projects h2,
.Contact h2 {
  margin-bottom: 35px;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--highlight-color);
  text-decoration-thickness: 10px;
}
