* {
  margin: 0;
  padding: 0;
}

/* body {
  display: block;
} */

.About,
.Skills,
.Projects {
  color: #121e27;
  margin: auto;
  width: 60%;
  /* border: 3px solid green; */
  /* padding: 10px; */
  padding-bottom: 150px;
}

.About h1,
.Skills h1,
.Projects h1 {
  font-size: 3rem;
  text-align: center;
}

/* a {
  color: green;
  font-size: 30px;
} */
