:root {
  --main-color: #13253d;
  --background-color: #ffffff;
  --highlight-color: #fe003a;
  --angled-div-height: 60px;
}



@media screen and (max-width: 968px) {
  :root {
    --angled-div-height: 40px;
  }
  
}


@media screen and (max-width: 425px) {
  :root {
    --angled-div-height: 20px;
  }
  
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 12px;
  /* height: 8px; */
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--highlight-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}

body {
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
}

.About,

.Projects,
.Contact {
  color: var(--main-color);
  margin: auto;
  width: 70%;
  /* border: 3px solid green; */
  /* padding: 10px; */
  background-color: var(--background-color);
}

.Skills {
  color: var(--main-color);
  margin: auto;
  width: 60%;
}


@media screen and (max-width: 1240px) {
  .About,
  .Skills,
  .Projects,
  .Contact {
    color: var(--main-color);
    margin: auto;
    width: 95%;
    /* border: 3px solid green; */
    /* padding: 10px; */
  }
}

.About h2,
.Skills h2,
.Projects h2,
.Contact h2 {
  margin-bottom: 35px;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--highlight-color);
  text-decoration-thickness: 10px;
}
